<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <h1>Anyone can vote!</h1>
</header>

<div class="poll-container">
  <div class="col-md-4" ng-repeat="poll in polls">
      <div  class="panel panel-default" ng-if="voted(poll)" ng-animate="'if'">
        <div class="panel-heading heading-custom-poll" ng-click="toggleExpand(poll)">
          <h3 class="panel-title">
              <span class="totalVotes pull-left" ng-class="{voted: voted(poll)}"> {{ poll.totalVotes }} </span>
              {{ poll.question }}
              <button ng-show="pollOwner(poll)" class="btn btn-danger btn-xs pull-right" confirm="Are you sure you want to delete this poll?" ng-click="deletePoll(poll)">
                <i class="fa fa-minus fa-xs"></i>
              </button>
              <br /><a class="author" href="#"> {{ poll.owner_name }} </a>
          </h3>
        </div>
        <div class="panel-body poll-body slide" ng-show="expanded(poll)">
          <canvas id="doughnut" class="chart chart-doughnut" data="poll.chartData" labels="poll.chartLabels" legend="true"></canvas>
        </div>
      </div>
      <div class="panel panel-default" ng-if="!voted(poll)">
        <div class="panel-heading heading-custom-poll" ng-click="toggleExpand(poll)">
          <h3 class="panel-title">
            <span class="totalVotes pull-left" ng-class="{voted: voted(poll)}"> {{ (poll.totalVotes) ? poll.totalVotes : 0  }} </span>
            {{ poll.question }}
            <button ng-show="pollOwner(poll)" class="btn btn-danger btn-xs pull-right" confirm="Are you sure you want to delete this poll?" ng-click="deletePoll(poll)">
              <i class="fa fa-minus fa-xs"></i>
            </button>
            <br /><a class="author" href="#"> {{ poll.owner_name }} </a>
          </h3>
        </div>
        <div class="panel-body poll-body slide" ng-show="expanded(poll)">
          <ul ng-repeat="option in poll.options">
            <li>{{ option.text }} <button class="btn btn-info btn-xs" ng-click="doVote(poll, option)">Vote</button></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="clearfix"></div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.0 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
