.share {
  border: none;
  border-radius: 50%;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  margin-right: 5px;
}

.share:visited {
  color: white;
}

.share:hover {
  color: white;
}

.share-facebook {
  background-color: #3b5998;
}

.share-facebook:hover {
  background-color: #8b9dc3;
}

.share-twitter {
  background-color: #326ada;
}

.share-twitter:hover {
  background-color: #433e90;
}

.share-google {
  background-color: #DC4E41;
}

.share-google:hover {
  background-color: #DC4E41;
}


.share-permalink {
  background-color: #888888;
}

.share-permalink:hover {
  background-color: #777777;
}
